.App {
  text-align: center;
  align-items: center;
}

.container {
  max-width: 480px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
}

h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.upload-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background: #4a90e2;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #357ABD;
}

.preview {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.preview img {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.result {
  margin-top: 16px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #eee;
  font-size: 16px;
}